<header class="header">
  <img class="header-module" src="{{Shop.logo}}" alt="{{Shop.Title}}" />
  <h1 class="header-module visually-hidden">{{Shop.Title}}</h1>
  <h3 class="header-module visually-hidden">{{Shop.Slogan}}</h3>
  {{>navigation}}
</header>
