<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{Shop.Title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{Shop.Title}}</title>

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <meta name="theme-color" content="#3372DF">

  <link rel="stylesheet" href="/dist/styles/main.css">
</head>
